html, body
    height: 100%
body
    overflow: overlay
    background-color: #EDDDA2
    font-family: 'Noto Sans TC', sans-serif
    font-size: 1.25rem
    line-height: 2.5rem

/* width */
::-webkit-scrollbar
    width: 12px
/* Track */
::-webkit-scrollbar-track
    background: transparent
/* Handle */
::-webkit-scrollbar-thumb
    background: #FFF
    border: 3px solid transparent
    border-radius: 6px
/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: #EEE
