.out-box
    height: 100%
    padding: 1rem 0
    a
        display: block
        height: 100%
        width: 100%
        border: 1px solid black
.works-modal
    .modal-header
        border: 0
    .modal-content
        background-color: #EDDDA2

@media (min-width: 768px)
    .h-md-100
        height: 100% !important