#home
    img
        position: relative
        left: calc(55%)
    .head-1
        width: 30%
        margin-right: 5%
    .head-2
        filter: drop-shadow(2px 2px 1px black)
        width: 10%
#main-disc
    background-color: rgba(255,255,255,.2)
    border-radius: 1rem
    p
        margin-bottom: 1em
        text-align: justify
#rooms
    .room-block
        height: 200px
        background-color: tomato
        transition: .3s
        &:hover
            background-color: dodgerblue
#footer
    background-color: rgba(255,255,255,.2)
    border-radius: 1rem
    p img
        margin: 2rem
        width: 20rem


@media ( max-width: 768px )
    #home
        img
            position: relative
            left: 0
        .head-1
            width: 65%
            margin-right: 10%
        .head-2
            width: 25%
    #footer
        p img
            width: 80%
