body::after
    content: " "
    position: fixed
    top: 0
    left: 0
    right: 0
    height: 100vh
    background-image: url("/assets/img/more_bg.jpg")
    background-size: cover
    background-position: center
    opacity: .2
    z-index: -1

    
.btn-outline-dark
    border-width: 2px
    border-radius: 10rem

.text-content
    text-align: center