body
    background-color: #EAC3A2

.final
    .final-left, .final-center, .final-right
        height: 0
        padding-bottom: 100%
        margin: .5rem 0
        position: relative
        background-position: center
        background-size: cover
    .final-top
        .final-left
            background-image: url("/assets/img/yang/final_left.jpg")
        .final-center
            background-image: url("/assets/img/yang/final_center.jpg")
        .final-right
            background-image: url("/assets/img/yang/final_right.jpg")
    .final-bottom
        .final-left
            background-image: url("/assets/img/yang/left.png")
        .final-center
            
            overflow-y: scroll
            img
                width: 100%
        .final-right
            background-image: url("/assets/img/yang/right.png")

.ingredient
    height: 100vh