extends ../layout.pug
block variables
    - title = ' - 還有更多～'
block head
    link(rel="stylesheet", href="/assets/css/more.css?version="+timestamp)
block body
    .container-fluid.pb-5#header: .row
        .col-8
        .col
            a.go-back(href="/main/#rooms")
                img(src="/assets/img/logo_small.png")
    .container.text-center
        h1.pb-4 還有更多～
        .row.justify-content-center.pt-4: .col-md-6
            p.text-content 故事總是說不完，哪天有機會，再帶你們到我熟悉的城南，我新認識的城南，以及那些人告訴我的和我所記得的事。
        .row.justify-content-center: .col-md-6.d-grid.gap-2
            a.btn.btn-outline-dark(href="https://docs.google.com/forms/d/e/1FAIpQLScusbLchqrHpWNE9UqQm2H6kiJvRt5kNoayXg6r4otMDybokw/viewform" target="_blank" data-aos="fade-up" data-aos-delay="0") 由你來接棒
            a.btn.btn-outline-dark(href="https://www.accupass.com/go/inhabit1" target="_blank" data-aos="fade-up" data-aos-delay="50") 工作坊 - 五感大開！
            a.btn.btn-outline-dark(href="https://www.accupass.com/go/HakkaPan" target="_blank" data-aos="fade-up" data-aos-delay="100") 工作坊 - 客家粄 食通信

    a#to-pre(href="/yang" data-aos="fade-left" data-aos-anchor="#header"): i.fas.fa-chevron-circle-left