extends ../layout.pug
block variables
    - title = ' - Let’s Cook “Ban” Today!／YANG Chih-Ya (Sylvia)'
block head
    link(rel="stylesheet" href="/assets/css/yang.css?version="+timestamp)
block body
    mixin ingr_modal(name, title, size)
        .modal.info-modal.fade(id=name+"Modal" tabindex='-1' aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered: .modal-content
                .modal-header.px-4
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                .modal-body.px-4.pt-0
                    img(src="/assets/img/yang/thumb/"+name+".jpg")
                    h4= title
                    p
                        | Eastern Gouache
                        br
                        =size
                        br
                        | 2021

    mixin ingr_button(name)
        a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#"+name+"Modal" data-aos="zoom-in"): img(src="/assets/img/yang/thumb/"+name+".jpg")

    .modal.info-modal.fade#chouModal(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg: .modal-content
            .modal-header.px-4
                h3.modal-title Let’s Cook “Ban” Today!／YANG Chih-Ya (Sylvia)
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4.pt-0
                h4.py-4 About the Artist
                p Sylvia C. Y. YANG (1989 Hualien, Taiwan) graduated from National Taiwan Normal University with a master’s degree in Chinese Ink Painting in 2016, and has been accomplished in eastern mixed media.
                p To further explore interpersonal relationships, she is currently working on artistic experimentation that focused on daily cooking and eating habits, through inviting people to collect ingredients, cook and have meals together.   Through the process of sharing and exchanging cultural value differences, she expects to activate food-relevant memories and foster sensory experiences on dining.

                h4.py-4 About the Work
                p Through interviews and practice, this project investigates the different ways that Hakka elderly in the Cheng-Nan area make "Ban." While inviting them to make Hakka rice meals around the table together, the artist collected “Ban” related memories of the Hakka community. At the same time she traces the various paths they took to migrate into the Cheng-Nan area, as well as the social relationships that were bonded within these communities. The artist has utilized her perspective as a younger generation Hakka to observe and record the diets hidden in daily life. She presents these dietary habits as recipes with eastern painting techniques and media. The artist later used an artistic way of interaction by sharing ingredient packages to spread the taste of Hakka. In this way, more people can conveniently enjoy making Hakka snacks for themselves at home!
                h4.py-4 Interview
                iframe(src='https://www.youtube.com/embed/u6mDpAaqkGE' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
    .container-fluid.pb-5#header: .row
        .col.order-md-1
            a.go-back(href="/en/main/#rooms")
                img(src="/assets/img/logo_small.png")
        .col-md-8.mt-5.mt-md-2
            h4 Let’s Cook “Ban” Today!／YANG Chih-Ya (Sylvia)
                a.more-info-button(role="button" href="#" data-bs-toggle="modal" data-bs-target="#chouModal"): i.far.fa-plus-square
            audio#bgm(src="/assets/audio/yang/bgm.mp3" autoplay)
            a.player.pause(href="#" data-audio="#bgm")
    
    +ingr_modal("aicaoban", "Aicao Ban", "25 × 25 cm")
    +ingr_modal("pumpkinban", "Pumpkin Ban", "25 × 25 cm")
    +ingr_modal("niuwenshui", "Niu Wen Shui", "25 × 25 cm")
    

    .container.final.pb-5
        .row.final-top
            .d-md-none.col#finalCarousel.carousel.slide(data-bs-ride='carousel')
                .carousel-inner
                    .carousel-item.px-5.active
                        a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#aicaobanModal"): .final-left
                    .carousel-item.px-5
                        a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#pumpkinbanModal"): .final-center
                    .carousel-item.px-5
                        a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#niuwenshuiModal"): .final-right
                button.carousel-control-prev(type='button' data-bs-target='#finalCarousel' data-bs-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.visually-hidden Previous
                button.carousel-control-next(type='button' data-bs-target='#finalCarousel' data-bs-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.visually-hidden Next
            .col-4.d-none.d-md-block: a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#aicaobanModal"): .final-left
            .col-4.d-none.d-md-block: a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#pumpkinbanModal"): .final-center
            .col-4.d-none.d-md-block: a.ingr-click(href="#" data-bs-toggle="modal" data-bs-target="#niuwenshuiModal"): .final-right
        .row.px-4.d-md-none.mt-5
            img.w-100(src="/assets/img/yang/top/mid_title.png")
        .row.final-bottom
            .col-6.col-md-3: .final-left
            .d-none.d-md-block.col-6: .final-center
                img.img-title(src="/assets/img/yang/top/mid_title.png")
                img(src="/assets/img/yang/top/mid.png")
            .col-6.col-md-3: .final-right
        .row.d-md-none
            img.w-100(src="/assets/img/yang/top/mid.png")

    +ingr_modal("ginger", "Ginger", "20 × 20 cm")
    +ingr_modal("komushroom", "King Oyster Mushroom", "15 × 11 cm")
    +ingr_modal("shrimps", "Dried Shrimps", "15 × 11 cm")
    +ingr_modal("pork", "Ground Pork", "15 × 11 cm")
    +ingr_modal("radish", "Dried Radish", "15 × 11 cm")
    +ingr_modal("beans", "Azuki Beans", "20 × 20 cm")
    +ingr_modal("peanuts", "Peanuts", "15 × 11 cm")
    +ingr_modal("mushrooms", "Mushrooms", "15 × 11 cm")
    +ingr_modal("glutinousrice", "Glutinous Rice Flour", "25 × 25 cm")
    +ingr_modal("sugar", "Sugar", "15 × 11 cm")
    +ingr_modal("shallot", "Shallot", "15 × 11 cm")
    +ingr_modal("pumpkin", "Pumpkin", "25 × 25 cm")
    +ingr_modal("herbal", "Herbal", "20 × 20 cm")
    
    .container.py-md-5: .ingredient: .text-center
            .ingr-w20
                +ingr_button("ginger")
            .ingr-w15
                +ingr_button("komushroom")
                +ingr_button("shrimps")
            .ingr-w15
                +ingr_button("pork")
                +ingr_button("radish")
            .ingr-w20
                +ingr_button("beans")
            .ingr-w15
                +ingr_button("peanuts")
                +ingr_button("mushrooms")
            .ingr-w25
                +ingr_button("glutinousrice")
            .ingr-w15
                +ingr_button("sugar")
                +ingr_button("shallot")
            .ingr-w25
                +ingr_button("pumpkin")
            .ingr-w20
                +ingr_button("herbal")

    mixin recipe_modal(id, name)
        .modal.info-modal.fade(id="modal-"+id tabindex='-1' aria-hidden='true')
            .modal-dialog.modal-lg.modal-dialog-centered: .modal-content
                .modal-header.px-4
                    button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
                .modal-body.px-4.pt-0
                    img(src="/assets/img/yang/recipe/"+name+".jpg")
                    
    mixin recipe_button(id, name)
        .col-md-4.my-2: a.recipe-click(href="#" data-bs-toggle="modal" data-bs-target="#modal-"+id): img(src="/assets/img/yang/recipe/"+name+".jpg")

    +recipe_modal("1-1", "1-阿娥01")
    +recipe_modal("1-2", "1-阿娥02")
    +recipe_modal("2-1", "2-邱大姐01")
    +recipe_modal("2-2", "2-邱大姐02")
    +recipe_modal("3-1", "3-葉媽01")
    +recipe_modal("3-2", "3-葉媽02")

    a#to-pre(href="/en/hsu" data-aos="fade-left" data-aos-anchor="#ytvideo"): i.fas.fa-chevron-circle-left
    a#to-top(href="#" data-aos="fade-up" data-aos-anchor="#ytvideo"): i.fas.fa-chevron-up
    .container.recipe.py-5
        #recipeCarousel.carousel.slide.d-none.d-md-block(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active: .row
                    +recipe_button("1-1", "1-阿娥01")
                    +recipe_button("1-2", "1-阿娥02")
                    +recipe_button("2-1", "2-邱大姐01")
                .carousel-item: .row
                    +recipe_button("2-2", "2-邱大姐02")
                    +recipe_button("3-1", "3-葉媽01")
                    +recipe_button("3-2", "3-葉媽02")
            button.carousel-control-prev(type='button' data-bs-target='#recipeCarousel' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#recipeCarousel' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
        #recipeCarouselM.carousel.slide.d-md-none(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    +recipe_button("1-1", "1-阿娥01")
                .carousel-item
                    +recipe_button("1-2", "1-阿娥02")
                .carousel-item
                    +recipe_button("2-1", "2-邱大姐01")
                .carousel-item
                    +recipe_button("2-2", "2-邱大姐02")
                .carousel-item
                    +recipe_button("3-1", "3-葉媽01")
                .carousel-item
                    +recipe_button("3-2", "3-葉媽02")
            button.carousel-control-prev(type='button' data-bs-target='#recipeCarouselM' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#recipeCarouselM' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
        iframe#ytvideo.pb-5(src='https://www.youtube.com/embed/jHB-iuiNLNc' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

block script
    script.
        $(".player").on("click", function(e) {
            e.preventDefault();
            let audioDom = $($(this).data("audio"))[0];
            if(audioDom.paused) {
                audioDom.play();
                $(this).removeClass("pause");
                $(this).addClass("play");
            } else {
                audioDom.pause();
                $(this).removeClass("play");
                $(this).addClass("pause");
            }
        });
        $(function() {
            $("#bgm")[0].play();
            if(!$("#bgm")[0].paused) {
                $(".player").removeClass("pause");
                $(".player").addClass("play");
            }
        });