extends ../layout.pug
block variables
    - title = ' - 還有更多～'
block head
    link(rel="stylesheet", href="/assets/css/video.css?version="+timestamp)
block body
    .container-fluid.h-100
        iframe(src='https://www.youtube.com/embed/pW3Jjzw9hgE?autoplay=1' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        a#to-main(href="/main"): img(src="/assets/img/arrow.png")