extends ../layout.pug
block variables
    - title = ' - 在你身邊／周孟曄'
block head
    link(rel="stylesheet", href="/assets/css/chou.css?version="+timestamp)
block body
    .modal.info-modal.fade#chouModal(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg: .modal-content
            .modal-header.px-4
                h3.modal-title 周孟曄
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4.pt-0
                p 台灣大學人類學系畢業後前往法國遊學，偶然掉進藝術創作的世界。在法國南特高等藝術學院和巴黎第八大學完成學位，2004年回到台灣，以專職藝術家身分生存至今，持續舉辦個展和參加各種不同類型的聯展，參加國內外駐村和創作營。創作主題圍繞著人與人的關係，雖傾向悲觀仍願意相信人類。擅長以紙和纖維為素材，作品形式以現地空間裝置為主，期許自己可以持續創作到生命盡頭。

    .d-flex.flex-column.h-100.pb-5
        .container-fluid#header: .row
            .col-auto.col-md-10
                h4.text-light 在你身邊／周孟曄
                    a.more-info-button(role="button" href="#" data-bs-toggle="modal" data-bs-target="#chouModal"): i.far.fa-plus-square
            .col
                a.go-back(href="/main")
                    img(src="/assets/img/logo_small.png")

        .container-fluid.flex-grow-1.py-4: .row.h-100.justify-content-center: .col-md-8.col-xl-6
            iframe#yt-video(src='https://www.youtube.com/embed/Fxl9Z7ISCyU' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

