.container
    .row.py-5: .col-lg-8
        p 又嘉從出生到五歲都是在苗栗大湖讓阿公阿婆（外公外婆）帶的，直到五歲為了上學，才到台北和父母同住。又嘉的記憶很早，對於兒時那最初的五年有深刻的印記。那時的她都講客語，每天晚上阿姑婆（外公的妹妹）會陪她睡覺，早餐和阿公、阿婆、阿姑婆一起吃混著薑片煮的粥配豆腐乳。阿姑婆很會蒸蛋，她總是在蒸蛋裡加一點米酒，很香。外公會騎著摩托車，帶她到山上的寺廟看烏龜，每天吃完中餐、或她被阿婆罵的時候，外公都帶她去散步。直到現在，外公九十幾歲了，還是很喜歡散步。
        p 大湖有分上街、下街，又嘉家要往橋上、往裡頭走，在上街。她記得小時候會和阿姑婆去柑仔店買零食，一邊走著一邊和周遭鄰居打招呼。「客家人很重視這樣的招呼，要把稱謂講得很清楚。」小時候爸爸嚴格，有時還會因為她沒叫人而不開心。
        audio#audio-2-1(src="/assets/audio/hsu/2/2-1.aac")
        a.player.pause(href="#" data-audio="#audio-2-1")
    .row.py-5.justify-content-end: .col-lg-8
        p 五歲前的記憶深刻，到了台北的幼稚園生活倒是印象有些模糊。又嘉只記得當時老師要小朋友們自我介紹，她是用客家話講。「我猜很多時候我不知道大家在講什麼。」真正比較會開口說話應該是大班了。又嘉回想，應該是到國小三年級才真的開始適應台北生活。國中時青春叛逆，爸媽越是堅持和又嘉跟姊姊講客家話，她們就越不想講。當時父母常跟她們講客家話，她們硬是回中文，以致現在只會聽，卻不太會講。現在，姐妹倆三十幾歲，爸媽也很少跟她們說客語了。只是比起不曾跟阿公阿婆緊密生活過的姊姊，又嘉相對比較會說客語，又嘉媽媽至今還是會鼓勵她多說客語。
        audio#audio-2-2(src="/assets/audio/hsu/2/2-2.aac")
        a.player.pause(href="#" data-audio="#audio-2-2")
    .row.py-5: .col-lg-8
        p 一輩子生活在客家庄的阿公阿婆，為了和孫子們溝通，也有棄守客語的時候。
        audio#audio-2-3(src="/assets/audio/hsu/2/2-3.aac")
        a.player.pause(href="#" data-audio="#audio-2-3")
        p 又嘉後來不常回大湖了，只有逢年過節，或家裡有特別活動才會回去。現在的大湖因為草莓而成為觀光勝地，遊客很多，台北到大湖的路程總是塞車。又嘉印象中的大湖，是有很多孩子們可以一同玩耍的，現在回去則多是年邁的長輩，街上的在地店家也不太會主動說客語。
        p 這天，我們打了通電話跟苗栗大湖的阿婆通話。阿婆本是苗栗公館人，嫁到大湖。問阿婆現在的苗栗和以前有什麼不同？阿婆說，以前回娘家要殺一隻雞帶回去，還要跟神明擲筊，才能決定可不可以回娘家，很多習俗，現在輕輕鬆鬆就可以隨心所欲回家。以前他們要種田、割稻，現在吃的米從哪裡來都不知道。
    .row.py-5.justify-content-end: .col-lg-8
        p 阿婆八十五歲，年輕時從事伐木業，六十歲退休後開始學唱山歌，後來也常參加比賽，拿過很多冠亞軍。因為疫情關係，我們只能透過電話，邀請阿婆高歌幾曲。
        p: b 老山歌《山歌趣》、《放下自在》
        audio#audio-2-4(src="/assets/audio/hsu/2/2-4.aac")
        a.player.pause(href="#" data-audio="#audio-2-4")
        p: b 老山歌《步步高升》、《不要比評》
        audio#audio-2-5(src="/assets/audio/hsu/2/2-5.aac")
        a.player.pause(href="#" data-audio="#audio-2-5")
        p 很幸運地，正好又嘉的小舅舅從台北回大湖，不僅幫忙阿婆解決通話問題，還為我們說明阿婆所唱的山歌歌詞，甚至解說了山歌類別分為山歌子、老山歌和平板，並以同樣的歌詞示範山歌子與平板的唱法。
        audio#audio-2-6(src="/assets/audio/hsu/2/2-6.aac")
        a.player.pause(href="#" data-audio="#audio-2-6")
        p 又嘉的小舅舅從小就喜歡唱歌，也參加客家合唱團，經常演出。歌喉很好的舅舅謙虛說，平板和山歌子的拍子、節奏訂得比較嚴謹，老山歌比較可以自行發揮，更有味道，但尾音很長，氣要很足，他就唱不出阿婆那樣的韻味。
    .row.py-5: .col-lg-8
        p 又嘉的兩位舅舅都在苗栗成長，大學畢業後就到台北工作。舅舅們很愛釣魚，又嘉記得童年過年時，舅舅們會帶著他們一群孩子到河邊烤地瓜、撈蛤仔，他們就在一旁釣魚。或許因為舅舅們愛到河邊釣魚，小舅舅總喜歡喚小時候愛哭的又嘉「河壩嘉」，河壩（ho ba）就是客語中河邊的意思。
        audio#audio-2-7(src="/assets/audio/hsu/2/2-7.aac")
        a.player.pause(href="#" data-audio="#audio-2-7")
        p 人生最早的五年會為一個人留下什麼呢？「轉屋下」（回家）對又嘉來說，是回到小時候最親密的關係裡面。現在的又嘉已經可以適應各式各樣的食物，不像小時候剛到台北時，早餐改吃麵包那樣地不習慣。但她總記得很小的時候，那碗滿是薑味的粥。
        p 山歌演唱：黃江秀珍、黃紹國
    .row.py-5.justify-content-end.text-end: .col-md-10
        img.w-100(src="/assets/img/hsu_content_2.jpg")
        h5.py-4 照片提供者：劉又嘉
    .arrow-group
        a(href="#" data-target="#content-1"): i.fas.fa-chevron-circle-left
        a(href="#" data-target="#content-3"): i.fas.fa-chevron-circle-right