.container
    .row.py-5: .col-lg-8
        p 志雅說她阿婆是山歌高手。這天，志雅和她的阿婆（外婆）、媽媽、阿姨、表妹齊聚在花蓮吉安鄉的阿婆家。阿婆九十歲，為了要唱山歌給我們聽，前一天睡不著也吃不下，本來還想邀同樣九十幾歲的二胡夥伴一起來，但因疫情作罷。
        p 
            | 阿婆是在日治時代成長的，會說日語、客語、台語、中文（台灣普遍使用的國語），但日治時期不僅台灣所有語言被禁，只能說日語，平日生活裡說客語也會被嘲笑。三歲就跟著媽媽從新竹關西「鹹菜甕」（關西鎮於日治時期的舊名），來到花蓮吉安，而後也在吉安結婚生子。娘家說的客語是海陸腔，夫家說的則是四縣腔
            a(href="#" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="但客語腔調並非以區域分別，例如新竹關西鎮及花蓮吉安鄉同時都有說四縣腔及海陸腔的客家人，亦可能有少數其他腔調。") （註）
            | 。
        audio#audio-3-1(src="/assets/audio/hsu/3/3-1.aac")
        a.player.pause(href="#" data-audio="#audio-3-1")
        audio#audio-3-2(src="/assets/audio/hsu/3/3-2.aac")
        a.player.pause(href="#" data-audio="#audio-3-2")
    .row.py-5.justify-content-end: .col-lg-8
        p 阿婆年輕時幫家裡務農、養豬，生活艱辛，後來經人介紹在鐵路局工作，清潔火車，一直做到六十五歲退休。小時候沒聽過客家山歌，倒是退休後常在電視節目裡聽見山歌，對山歌的興趣啟動後，便開始一天不落地到老人館學唱山歌。
        p: b 山歌子
        audio#audio-3-3(src="/assets/audio/hsu/3/3-3.aac")
        a.player.pause(href="#" data-audio="#audio-3-3")
        p 山歌唱出客家音，自古流傳到如今，以前山歌山上唱，今日唱到街路心。
        p: b 老山歌
        audio#audio-3-4(src="/assets/audio/hsu/3/3-4.aac")
        a.player.pause(href="#" data-audio="#audio-3-4")
        p 上坡上不得，半路坐下來，手撫著膝蓋就唱起歌來。大家都說我是風流的人，我的命帶桃花，我也沒辦法。
        p: b 小調
        audio#audio-3-5(src="/assets/audio/hsu/3/3-5.aac")
        a.player.pause(href="#" data-audio="#audio-3-5")
        p 桃花開來菊花黃，阿哥想妹身上兩三項，一想愛妹有鴛鴦枕，二想愛妹象牙床，妹妹三來愛妹救命方。
        p: b 平板
        audio#audio-3-6(src="/assets/audio/hsu/3/3-6.aac")
        a.player.pause(href="#" data-audio="#audio-3-6")
        p 山歌唱來很熱鬧，唱條山歌來結緣，唱條山歌來恭祝大家大賺錢。
        p 阿婆唱得認真，家人們在翻閱歌詞時是笑聲不斷。山歌歌詞講述著日常生活，也相當口語化，歌詞段落間不一定有邏輯上的連結，更講求押韻的韻腳。
    .row.py-5: .col-lg-8
        p 阿婆年輕時的困苦生活，志雅的媽媽和阿姨已經沒有太多印象，她們記得以前家裡是鐵皮屋，但阿姨出生時已經改建成平房水泥屋，阿姨說：「小時候也有穿皮鞋、裙子，有多的布，媽媽也會做新衣給我們穿。」唯獨家裡有農田、要耕種，從懂事以來，她們假日都要到田裡幫忙農作，是兒時覺得比較辛苦的事。儘管和別人相比，家裡經濟已算不錯，食衣住行俱足，父母還是很節儉。她們說，但多虧爸爸媽媽傳承客家人勤儉的精神，現在才能過得舒服。
        p 志雅的媽媽和阿姨年約六十，從小在吉安長大，記得兒時、學生時期在吉安居住的主要族群是客家人及以阿美族為主的原住民各半，大家玩在一起互相逗弄，現在則有較多外來的新住民、閩南人等。
        audio#audio-3-7(src="/assets/audio/hsu/3/3-7.aac")
        a.player.pause(href="#" data-audio="#audio-3-7")
        p 客語不只是在阿婆經歷的日治時代被禁，在媽媽和阿姨小學時期也曾因「國語政策」被禁，當時除了中文外，其他台灣在地語言都是被禁止的，當然也包括客語，說出口就得罰錢。時至今日，這些限制不再，可以大聲講客語，別人聽不懂也無妨。
        audio#audio-3-8(src="/assets/audio/hsu/3/3-8.aac")
        a.player.pause(href="#" data-audio="#audio-3-8")
    .row.py-5.justify-content-end: .col-lg-8
        p 志雅的表妹小學時較常與阿公阿婆相處，學校也有了客語教學，因此還算比較熟悉客語。但因為護理師工作關係，現在更常使用台語，常常台語客語混在一起，分不清楚自己在說哪種語言。
        p 和表妹相較，志雅的客語程度可能又差了點。志雅小時候較常與奶媽及爸爸那邊的奶奶說台語，當時奶奶特別想要教志雅說台語，認為台語不能斷。志雅說，現在她的台語、英語可能都比客語好。志雅的媽媽感嘆，有些後悔沒能在志雅小時候跟她說客語。不過，最近志雅正在準備客語初級認證，雖然在台北工作，也時常打電話試著和媽媽用客語聊天。媽媽說她的客語有點好笑，但還是很有耐心地糾正她。志雅說：「畢竟我是客家人，想試看看能不能拿到初級認證，也是逼自己多講。」
        audio#audio-3-9(src="/assets/audio/hsu/3/3-9.aac")
        a.player.pause(href="#" data-audio="#audio-3-9")
        p 山歌演唱：徐蓮嬌
        p 特別感謝志雅於花蓮協助錄音。
    .row.py-5.justify-content-end.text-end: .col-md-10
        img.w-100(src="/assets/img/hsu_content_3.jpg")
        h5.py-4 照片提供者：楊志雅
    .arrow-group
        a(href="#" data-target="#content-2"): i.fas.fa-chevron-circle-left
        a(href="#" data-target="#content-4"): i.fas.fa-chevron-circle-right