.container.text-center
    #random-box
        audio#audio-4-1(src="/assets/audio/hsu/4/4-1.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-1")
        audio#audio-4-2(src="/assets/audio/hsu/4/4-2.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-2")
        audio#audio-4-3(src="/assets/audio/hsu/4/4-3.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-3")
        audio#audio-4-4(src="/assets/audio/hsu/4/4-4.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-4")
        audio#audio-4-5(src="/assets/audio/hsu/4/4-5.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-5")
        audio#audio-4-6(src="/assets/audio/hsu/4/4-6.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-6")
        audio#audio-4-7(src="/assets/audio/hsu/4/4-7.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-7")
        audio#audio-4-8(src="/assets/audio/hsu/4/4-8.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-8")
        audio#audio-4-9(src="/assets/audio/hsu/4/4-9.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-9")
        audio#audio-4-10(src="/assets/audio/hsu/4/4-10.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-10")
        audio#audio-4-11(src="/assets/audio/hsu/4/4-11.aac")
        .player-box: a.player.pause(href="#" data-audio="#audio-4-11")
        .arrow-group.d-flex
            a(href="#" data-target="#content-3"): i.fas.fa-chevron-circle-left
        button#random-btn.btn.btn-dark.ms-4(onclick="run_random()"): i.fas.fa-random