#home img {
  position: relative;
  left: 55%;
}
#home .head-1 {
  width: 30%;
  margin-right: 5%;
}
#home .head-2 {
  filter: drop-shadow(2px 2px 1px black);
  width: 10%;
}

#main-disc {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
#main-disc p {
  margin-bottom: 1em;
  text-align: justify;
}

#rooms .room-block {
  height: 200px;
  background-color: tomato;
  transition: 0.3s;
}
#rooms .room-block:hover {
  background-color: dodgerblue;
}

#footer {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
}
#footer p img {
  margin: 2rem;
  width: 20rem;
}

@media (max-width: 768px) {
  #home img {
    position: relative;
    left: 0;
  }
  #home .head-1 {
    width: 65%;
    margin-right: 10%;
  }
  #home .head-2 {
    width: 25%;
  }

  #footer p img {
    width: 80%;
  }
}