.btn-more {
  color: black;
  display: block;
  width: 8em;
  height: 8em;
  border-radius: 4em;
  border: 5px solid;
  line-height: 7.5em;
  text-align: center;
  margin: 4em;
  text-decoration: none;
}
.btn-more:hover {
  color: #333;
}