.container
    p 現年大約六十歲的邱姐，是來自苗栗市的客家人。1986年，兒子出生七個月後，便舉家搬到台北汀州路定居，直到現在。她說，汀州路上住著很多客家人。那天我們跟邱姐和她的兒子仲良一起，從台北植物園開始，走了一下他們平時的生活圈。
    p 從他們家走出來就看得到植物園，邱姐說：「植物園就像是我們的後花園。」她常常每天早上、中午、晚上都會到植物園走走，孩子們都還小的時候，就帶他們到植物園玩、到歷史博物館看展、圖書館看書。「我們的一天大概都從這邊開始。」從未滿一歲就到台北的仲良，對植物園也是滿懷回憶。他記得和妹妹常到一個防空洞玩耍，那就在南門國中後面，在防空洞都聽得見校園的鐘聲。走著走著，建國中學的學生從身旁經過，仲良突然想起學生時期的語言經歷，也讓邱姐想到剛來台北聽到台語的情境。
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-1.wav") 
    p 會來到台北，是因為先生以前是中油的鑽井工程師。80年代時，中油大樓就在植物園旁。因先生工作地利之便，加上看房子時聽到鄰居們在講客家話，就在台灣房價逢低點時買入現在的住家，一家人從苗栗移居台北。雖說移居台北，因為先生工作關係，很多年間一家人世界到處跑，在很多其他國家短暫居住過。仲良是在馬來西亞出生的，女兒也差點在美國生。
    p 對仲良來說，「你是哪裡人」這個問題並不若邱姐一般容易回答。在馬來西亞出生，美國讀幼稚園，在台北長大，苗栗是父母的家鄉，小時候則要在作業上寫廣東，因為父母的祖籍來自廣東梅縣。
    p 邱姐說過去族譜是不傳女性的，只留給男性，但她印象中自己是來到台灣的第七代，而仲良在父親的族譜中發現自己是來到台灣的第二十一代。邱姐說，夫家張家掃墓都要請三十幾桌，身為長媳的她一定要出席不可，但這長媳沒有權力，倒是承受了很大壓力，年輕時也要承擔所有家務。他們說，掃墓（掛紙gua zii）對客家人來說可能是件比過年還重要的事。
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-2.wav") 
    p 我們一路走到汀州路和西藏路交界，也是邱姐家附近了。邱姐開始介紹他們的客家鄰居們，有一樣從苗栗市來的，也有苗栗三義人、新竹湖口人、苗栗的銅鑼、公館等等，總是在知道彼此都是客家人之後，會特別相互照應。仲良指向不遠處的西湖大樓，說那應該也是因客家人聚集此區而命名的。
    p 雖說同是客家人甚至同鄉，口音還是大不同。先說邱姐和她先生同樣來自苗栗市，邱姐來自北苗，先生來自南苗，距離不過一、二公里，腔調完全不同，邱姐記得剛進夫家第一天時，聽到夫家說的客家話完全聽不懂，「傻眼。」就更別說來自不同地區的客家鄰居們。
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-3.wav") 
    p 家附近的龍口市場旁有個伯公（土地公廟），時不時會去拜拜求平安。但對仲良來說，伯公就是一個名詞，儘管知道伯公就是土地公，但沒有一個宮廟上會寫伯公。（註）「信仰對我來說比較是在苗栗的事情。」
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-4.wav") 
    p 雖然從小在台北長大，成長過程中也因為住在不同國家，學習了馬來話、廣東話、美語，仲良的母語仍是客語，在五歲以前他還只會講客語。一個把自己搞丟的意外，讓他開始認知到自己必須學中文，在台灣最普遍使用的國語。
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-5.wav") 
    p 五歲的仲良在台北火車站前的麥當勞走丟了，他四處找人求援，卻沒人聽得懂客語，最後才終於到警察局，在一位婆婆的協助翻譯下，找到了媽媽，卻也讓他從此減少說客家話。「客語對我來說是親切的語言。」後來仲良要講客家話多是為了和外婆溝通，也為此再刻意練習。
    p 「什麼是客家人、什麼是客家文化是有點模糊的，客家話對我來說是老家、故鄉的回憶。客家話像是有地區性的，沒有太多深刻的東西。」仲良也曾藉著暑假參加中央大學客家希望工程，在那裡重新認識客家文化，那時候他才知道有染布、還我母語運動，有些客家歌手，有像鍾肇政這樣的作家，以及攝影家鄧光南等等。「這些都不是在我成長背景裡出現過的，我去那邊才重新認識。原來客家文化不是只有醃梅子、醃蘿蔔，還有其他文字、歌曲或手工藝。」
    p 即便是邱姐，在先生過世後也很少說客家話了，現在客家話對她而言是：「親切又有點距離，但不能忘。客家人有個精神就是不能忘本，你要知道你是客家人。」
    audio(controls controlsList="nodownload" src="/assets/audio/hsu/1/1-6.wav") 
    p 註：土地公信仰在不同族群間有不一樣的表現方式，傳統客家的伯公信仰即為土地公，但大多不是以宮廟形式存在或具有神像。
