.container.text-center
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-1.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-2.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-3.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-4.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-5.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-6.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-7.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-8.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-9.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-10.wav")
    .random-block: audio(controls controlsList="nodownload" src="/assets/audio/hsu/4/4-11.wav")