extends ../layout.pug
block variables
    - title = ' - 客話Hak-fa - 轉屋下／許雁婷'
block head
    link(rel="prefetch" href="/assets/img/play_button.png")
    link(rel="prefetch" href="/assets/img/pause_button.png")
    link(rel="stylesheet" href="/assets/css/hsu.css?version="+timestamp)
block body
    .modal.fade.info-modal#chouModal(tabindex='-1' aria-hidden='true')
        .modal-dialog.modal-dialog-centered.modal-lg: .modal-content
            .modal-header.px-4
                h3.modal-title 客話Hak-fa - 轉屋下／許雁婷
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4.pt-0
                h4.py-4 藝術家介紹
                p 關注聲音蘊涵的文化脈絡與紋理，以及聲音之於周遭世界另種角度的體認，作品常映照聲音與環境、個人/集體記憶或內在情緒的關係。常以田野錄音為主要素材，混合電子和物件聲響，擺盪在錄音聲音與物件的紀錄及虛構、敘事及想像特質間，以聲音紀錄片、音景作曲、電子原音音樂、裝置、表演等形式呈現。另也從事舞蹈劇場及影像聲音設計/配樂。
                h4.py-4 作品介紹
                p 每一種語言，都蘊含一個文化的思考方式、精神與認同。經由被使用、與其他文化的交會，在時間的洗練下，語言持續流變，母語的意義也在每一個生命與家庭中轉化。〈客話Hak-fa—轉屋下〉透過三個客家家庭的故事，聽見客語作為母語在不同世代間的狀態，母語承載了什麼樣的生命經驗、情感與價值觀。從他們的故事裡，我們聽見客語，也不只是客語。以此為楔子，我們都能連結、返回各自的母語經驗，和家的關係，觀照自己的歷程。你的母語是什麼呢？
                h4.py-4 訪談影片
                iframe(src='https://www.youtube.com/embed/jFy3vEoGYc8' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)


    .modal.fade.works-modal#content-1(tabindex='-1' aria-hidden='true' data-bs-backdrop="static" data-bs-keyboard="false")
        .modal-dialog.modal-fullscreen: .modal-content
            .modal-header.px-4
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4
                include ./works/1.pug
    .modal.fade.works-modal#content-2(tabindex='-1' aria-hidden='true' data-bs-backdrop="static" data-bs-keyboard="false")
        .modal-dialog.modal-fullscreen: .modal-content
            .modal-header.px-4
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4
                include ./works/2.pug
            
    .modal.fade.works-modal#content-3(tabindex='-1' aria-hidden='true' data-bs-backdrop="static" data-bs-keyboard="false")
        .modal-dialog.modal-fullscreen: .modal-content
            .modal-header.px-4
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4
                include ./works/3.pug
    .modal.fade.works-modal#content-4(tabindex='-1' aria-hidden='true' data-bs-backdrop="static" data-bs-keyboard="false")
        .modal-dialog.modal-fullscreen: .modal-content
            .modal-header.px-4
                button(type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close")
            .modal-body.px-4.d-flex.align-items-center
                include ./works/4.pug

    .d-flex.flex-column.h-100.pb-5
        .container-fluid#header: .row
            .col.order-md-1
                a.go-back(href="/main/#rooms")
                    img(src="/assets/img/logo_small.png")
            .col-md-8.mt-4.mt-md-2
                h4 客話Hak-fa - 轉屋下／許雁婷
                    a.more-info-button(role="button" href="#" data-bs-toggle="modal" data-bs-target="#chouModal"): i.far.fa-plus-square

        .container.flex-grow-1.d-flex.px-md-5.pb-5: .row.flex-grow-1
            .col-5.col-lg-3.flex-grow-1.d-flex
                .out-box(data-aos="zoom-in" data-aos-delay="50" data-aos-anchor="#header")
                    a.content-1-thumb(href="#content-1" data-bs-toggle="modal" data-bs-target="#content-1")
            .col-7.col-lg-6.flex-grow-1.d-flex.flex-column
                .out-box(data-aos="zoom-in" data-aos-delay="100" data-aos-anchor="#header")
                    a.content-2-thumb(href="#content-2" data-bs-toggle="modal" data-bs-target="#content-2")
                .out-box(data-aos="zoom-in" data-aos-delay="150" data-aos-anchor="#header")
                    a.content-3-thumb(href="#content-3" data-bs-toggle="modal" data-bs-target="#content-3")
            .col-lg-3.flex-grow-1.d-flex
                .out-box(data-aos="zoom-in" data-aos-delay="200" data-aos-anchor="#header")
                    a.content-4-thumb(href="#content-4" data-bs-toggle="modal" data-bs-target="#content-4")

    a#to-pre(href="/chou" data-aos="fade-left" data-aos-anchor="#header"): i.fas.fa-chevron-circle-left
    a#to-post(href="/yang" data-aos="fade-right" data-aos-anchor="#header"): i.fas.fa-chevron-circle-right
block script 
    script.
        $(function(){
            if(window.location.hash) {
                var hash = window.location.hash;
                $(hash).modal('toggle');
            }
        });
        $(".out-box a[data-bs-toggle='modal']").on("click", function(e) {
            const url = new URL(window.location);
            url.hash = $(this).data("bs-target");
            window.history.replaceState({}, '', url);
        });
        $(".btn-close").on("click", function(e) {
            const url = new URL(window.location);
            url.hash = "";
            window.history.replaceState({}, '', url);
            $("audio").each(function() {
                $(this)[0].pause();
            });
            $(".player").each(function() {
                $(this).removeClass("play");
                $(this).addClass("pause");
            })
        });

        $("#random-box .player-box").sort(() => Math.random() - 0.5).each(function(){
            $(this).css({
                "width": `${20+Math.random()*30}%`,
                "transform": `scale(${1+Math.random()}) translate(${Math.random()*20 - 10}px, ${Math.random()*20 - 10}px)`,
            });
            $("#random-box").append(this);
        });

        $(".player").on("click", function(e) {
            e.preventDefault();
            let audioDom = $($(this).data("audio"))[0];
            if(audioDom.paused) {
                audioDom.play();
                $(this).removeClass("pause");
                $(this).addClass("play");
            } else {
                audioDom.pause();
                $(this).removeClass("play");
                $(this).addClass("pause");
            }
        });

        $(".arrow-group a").on("click", function(e) {
            e.preventDefault();
            let target = $(this).data("target");
            $("button[data-bs-dismiss='modal']").trigger("click");
            const url = new URL(window.location);
            url.hash = target;
            window.history.replaceState({}, '', url);
            $(target).modal("show");
        });